body{
    overflow-x: hidden;
}
nav{
    &.navbar{
        display: block;
        @include media-breakpoint-down(md){
            display: none;
        }
        &.inner-navbar{
            padding: 0;
            background: transparent;
            height: 90px;
            position: fixed;
            width: 100%;
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            .link-part{
                .bottom-links{
                    list-style-type: none;
                    .nav-link{
                        font-size: $font-size-16;
                        font-weight: $font-900;
                        color: $white-rgba3;
                        padding: 10px;
                        transition: all ease-out 250ms;
                        &:hover{
                            color: $white;
                        }
                        &.active{
                            color: $white;
                        }
                    }
                }
                .contact-link{
                    background-color: $white-rgba1;
                    padding: 0 20px;
                    border-radius: 0 0 5px 5px;
                    .nav-link{
                        font-size: $font-size-md;
                        font-weight: $font-700;
                        color: $white-rgba3;
                        padding: 10px 15px;
                        &:hover,&:active{
                            color: $green-2;
                            svg{
                                path{
                                    stroke: $green;
                                }
                            }
                        }
                    }
                    .dropdown{
                        &.nav-dropdown{
                            padding: 8px 15px;
                            .dropdown-toggle{
                                font-size: $font-size-md;
                                font-weight: $font-700;
                                color: $white;
                                background-color: transparent;
                                border: 0  ;
                                &::after{
                                    border-top: 0;
                                    border-left: 0;
                                    border-right: 0;
                                    height: 20px;
                                    width: 20px;
                                    position: absolute;
                                    top: 10px;
                                    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 9.1665L10 11.6665L7.5 9.1665" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                                }
                                &.show{
                                    &::after{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                            .dropdown-menu{
                                &[data-bs-popper]{
                                    left: -55px;
                                }
                            }
                        }
                    }
                }
            }
            &.active{
                background-image: url("../../../images/backgrounds/bg-nav.png");    
            }
        }
        &.mobile-nav{
            display: none;
            &.inner-navbar{
                .img-part{
                    img{
                        width: 200px;
                    }
                }
                .link-part{
                    .contact-link{
                        height: 100%;
                        background-color: transparent;
                    }    
                }   
            }
            .offcanvas{
                &.offcanvas-mobile-nav{
                    width: 100%;
                    background-image: url("../../../images/backgrounds/bg-nav.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    .offcanvas-header{
                        .btn-close{
                            background-image: none;
                            height: 30px;
                            width: 30px;
                            opacity: 1;
                        }
                    }
                    .offcanvas-body{
                        .bottom-links{
                            list-style-type: none;
                            li{
                                .nav-link{
                                    color: $white;
                                    font-size: $font-size-16;
                                    font-weight: $font-700;
                                    padding: 15px;
                                    &:hover{
                                        color: $green;
                                        background-color: $white;
                                        border-radius: $radius-lg;
                                    }
                                }
                            }
                        }
                        .contact-link{
                            .nav-link{
                                color: $white;
                                font-size: $font-size-16;
                                font-weight: $font-700;
                                padding: 15px;
                                &:hover{
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(md){
                display: block;
            }
        }
    }
}
// RADIO BUTTON
.form-check{
    position: relative;
    .form-check-label {
        margin-top: 0px;
        font-weight: $font-400;
        &.style-1 {
           font-size: $font-size-md;
            line-height: $line-height-26;
        }
    }
}
.form-check-input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $skyblue-2;
    background-color: $white;
    margin-bottom: 0px;

    &:checked {
        background-color: $skyblue-2;
        border: 1px solid $skyblue-2;
        background-image: none;
    }
    &:focus{
        box-shadow: none;
    }
    &:hover {
        cursor: pointer;
        background-color: $skyblue-2;
    }

    &.add-after2 {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0px;
        margin: 0;
        min-height: 20px;

        &+svg {
            display: none;
            &+.form-check-label {
                font-size: $font-size-md;
                color: $black;
                font-weight: $font-400;
                line-height: $line-height-20;
            }
        }

        &:checked {
            &+svg {
                z-index: 2;
                display: block;
                position: absolute;
                left: 5px;
                top: 5px;
                color: #fff;
                width: 10px;
                height: 10px;
            }
        }
    }
}
// END RADIO BUTTON
//input
.input-group{
    .form-control{
        border-radius: $radius-lg;
        border: 1px solid $skyblue-2;
    }
}
//end input
.main-content {
    width: 100%;
    .md-flex-column{
        @include media-breakpoint-down(md){
            flex-direction: column;
        }
    }
    .title{
        font-size: $font-size-34;
        font-weight: $font-900;
        letter-spacing: $letter-spacing10;
        position: relative;
        text-transform: $text-uppercase;
        @include media-breakpoint-down(lg){
            font-size: $font-size-30;
        }
        @include media-breakpoint-down(sm){
            font-size: $font-size-26;
        }
        &::after{
            content: "";
            background-image: url("../../../images/icons/green-line.png");
            height: 6px;
            width: 150px;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
        &.white-title{
            color: $white;
        }
    }
    section {
        margin:0;
        h1 {
            color: #444;
            font-weight: 600;
        }
        &.home-section{
            .inner-home{
                position: relative;
                padding: 150px 50px 50px;
                background-image: url(../../../images/backgrounds/home-bg.png);
                background-repeat: no-repeat;
                background-position: center;
                // height: 100vh;
                background-size: cover;
                @include media-breakpoint-down(sm){
                    height: auto;
                }
                .sm-col-reverse{
                    @include media-breakpoint-down(sm){
                        flex-direction: column-reverse;
                    }    
                }
                .left-part{
                    height: 650px;
                }
                .right-part{
                    position: absolute;
                    bottom: -100px;
                    @include media-breakpoint-down(sm){
                        margin-bottom: 20px;
                    } 
                    img{
                        @include media-breakpoint-down(xl){
                            width: 450px;
                        }
                        @include media-breakpoint-down(lg){
                            width: 350px;
                        }
                    }
                }
            }
            .recycling-part{
                padding: 150px 50px 0 50px;
                border: 1px solid $grey-3;
                .img-part{
                    width: 40%;
                }
                .description{
                    width: 60%;
                    padding: 50px;
                    .description-title{
                        font-size: $font-size-22;
                        font-weight: $font-900;
                        line-height: $line-height-36;
                        letter-spacing: $letter-spacing10;
                        @include media-breakpoint-down(lg){
                            font-size: $font-size-20;
                        }
                        @include media-breakpoint-down(sm){
                            font-size: $font-size-lg;
                        }
                    }
                    .description-paragraph{
                        font-size: $font-size-lg;
                        line-height: $line-height-36;
                        @include media-breakpoint-down(lg){
                            font-size: $font-size-16;
                        }
                        @include media-breakpoint-down(md){
                            margin-top: 20px;
                        }
                        @include media-breakpoint-down(sm){
                            font-size: $font-size-md;
                            margin-top: 20px;
                        }    
                    }
                }
            }
        }
        &.features-section{
            padding: 50px;
            height: 100%;
            .mb-5{
                @include media-breakpoint-down(md){
                    margin-bottom: 0!important;
                }
            }
            @include media-breakpoint-down(md){
                padding: 30px 45px;
            }
            .feature-paragraph{
                font-size: $font-size-lg;
                line-height: $line-height-36;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-16;
                }
                @include media-breakpoint-down(md){
                    margin-top: 20px;
                }
                @include media-breakpoint-down(sm){
                    font-size: $font-size-md;
                    margin-top: 20px;
                }
                span{
                    color: $green-2;
                    font-weight: $font-700;
                }
            }
            .feature-title{
                font-size: $font-size-22;
                font-weight: $font-900;
                line-height: $line-height-36;
                letter-spacing: $letter-spacing10;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-20;
                }
                @include media-breakpoint-down(sm){
                    font-size: $font-size-lg;
                }
            }
            .feature-description{
                font-size: $font-size-16;
                line-height: $line-height-36;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-md;
                }
                @include media-breakpoint-down(md){
                    margin-bottom: 15px;
                }
            }
            .icon{
                @include media-breakpoint-down(sm){
                    width: 50px;
                    height: 50px;
                }
            }
            .i-pad{
                @include media-breakpoint-down(md){
                    display: none;
                }    
            }
        }
        &.pricing{
            // padding: 50px;
            position: relative;
            background-color: $dark-blue;
            @include media-breakpoint-down(md){
                padding: 30px 45px;
            }
            .pricing-details{
                font-size: $font-size-lg;
                line-height: $line-height-36;
            }
            .white-box{
                background-color: $white-2;
                padding: 50px 40px;
                border-radius: 0 50px 50px 0;
                box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.15);
                .step-section{
                    .stepper {
                        display: flex;
                        // justify-content: space-between;
                        margin-bottom: 20px;
                        position: relative;
                        width: 95%;
                        .step{
                            width: 25%;
                            position: relative;
                            text-align: center;
                            .bullet {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                line-height: 36px;
                                background: $grey-10;
                                color: $grey-11;
                                font-size: $font-size-22;
                                font-weight: $font-900;
                                text-align: center;
                                border-radius: 50%;
                                position: relative;
                                z-index: 0;
                            }
                            p{
                                font-size: $font-size-16;
                                line-height: $line-height-36;
                                font-weight: $font-900;
                                letter-spacing: $letter-spacing10;
                                text-transform: $text-uppercase;
                            }
                            &::before{
                                background: $grey-12 ;
                                content: "";
                                height: 2px;
                                position: absolute;
                                top: 21%;
                                width: 100%;
                                z-index: 0;
                            }
                            &:last-child{
                                &::after{
                                    .bullet {
                                        display: none;
                                    }
                                } 
                                &::before{
                                    width: 0;
                                    display: none;
                                }
                            }
                            &.active{
                                .bullet {
                                    background: #4EB855;
                                    color: $white;
                                }
                                &:before{
                                    background: #4EB855;
                                }
                                &::after{
                                    .bullet {
                                        background: #007bff;
                                    }
                                } 
                            } 
                            &::after{
                                .bullet {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 100%;
                                    width: calc(100% - 40px);
                                    height: 4px;
                                    background: $green-2;
                                    transform: translateY(-50%);
                                    z-index: 0;
                                }
                            } 
                        }
                    }
                    .content {
                        display: none;
                        &.active {
                            display: block;
                        }
                        .pricing-slide{
                            .slick-slide{
                                padding-top: 60px;
                            }
                            .slick-arrow{
                                &.slick-prev{
                                    height: 30px;
                                    width: 30px;
                                    background-size: contain;
                                    background-image: url("../../../images/icons/arrow-circle-right.svg");
                                    background-repeat: no-repeat;
                                    left: -35px;
                                    top: 50%;
                                    &::before{
                                        content: "";
                                    }
                                }
                                &.slick-next{
                                    height: 30px;
                                    width: 30px;
                                    background-size: contain;
                                    background-image: url("../../../images/icons/arrow-circle-right.svg");
                                    transform: rotate(180deg);
                                    background-repeat: no-repeat;
                                    right: -34px;
                                    top: 49%;
                                    &::before{
                                        content: "";
                                    }
                                }
                            }
                            .slick-dots{
                                li{
                                    height: 13px;
                                    width: 13px;
                                    button{
                                        height: 13px;
                                        width: 13px;
                                        background: rgba(0, 0, 0, 0.1);
                                        border-radius: $radius-full;
                                        &::before{
                                            content: "";
                                        }
                                    }
                                    &.slick-active{
                                        width: 40px;
                                        button{
                                            background: $green-2;
                                            width: 40px;
                                            border-radius: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .card-section{
                padding: 50px 50px 50px 10px;
            }
            .review-plan-card{
                background-color: $white;
                border-radius: $radius-15;
                box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                position: relative;
                .ongoing-payment-part{
                    background-color: $grey13-rgba4;
                    padding: 15px;
                    border-radius: 10px;
                    .ongoing-payment-title{
                        font-size: $font-size-md;
                        font-weight: $font-900;
                        line-height: $line-height-24;
                        letter-spacing: $letter-spacing10;
                        text-transform: $text-uppercase;
                        color: $green-2;
                    }
                    .ongoing-payment-sub-title{
                        font-size: $font-size-13;
                        line-height: $line-height-24;
                        text-transform: $text-uppercase;
                        color: $grey-14;
                    }
                }
                .total-part{
                    &.border-bottom-grey{
                        border-bottom: 1px solid $grey-13;
                    }
                    .month{
                        font-size: $font-size-16;
                        font-weight: $font-700;
                        line-height: $line-height-26;
                        color: $grey-15;
                        text-transform: $text-uppercase;
                    }
                    .total{
                        font-size: $font-size-16;
                        font-weight: $font-700;
                        line-height: $line-height-26;
                        color: $black;
                    }
                    .scanning{
                        font-size: $font-size-16;
                        line-height: $line-height-26;
                        color: $grey-14;
                        text-transform: $text-uppercase;
                    }
                    .free{
                        font-size: $font-size-16;
                        font-weight: $font-700;
                        line-height: $line-height-26;
                        color: $black;
                    }
                    .month-total{
                        font-size: $font-size-16;
                        font-weight: $font-800;
                        line-height: $line-height-26;
                        color: $black;
                    }
                    .charge{
                        font-size: $font-size-16;
                        font-weight: $font-800;
                        line-height: $line-height-26;
                        color: $black;
                    }
                }
                .total-due{
                    padding: 20px 15px 40px 15px;
                    background-color: #4EB855;
                    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                    border-radius: $radius-lg;
                    .total{
                        font-size: $font-size-16;
                        font-weight: $font-800;
                        line-height: $line-height-26;
                        color: $white;
                        text-transform: $text-uppercase;
                    }
                    .pay-total{
                        font-size: $font-size-20;
                        font-weight: $font-800;
                        color: $white;
                    }
                    .pay-text{
                        font-size: $font-size-13;
                        color: $white;
                        text-transform: $text-uppercase;
                    }
                }
                .btn{
                    &.btn-bottom{
                        position: absolute;
                        bottom: -4%;
                        left: 150px;
                    }
                }
            }
            .feature-card{
                box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                border-radius: $radius-lg;
                padding: 20px 10px;
                background-color: $white;
                position: relative;
                cursor: pointer;
                &.active{
                    border: 1px solid $skyblue-2;
                    background-color: $skyblue-6;
                }
                .feature-card-title{
                    font-size: $font-size-22;
                    font-weight: $font-800;
                    letter-spacing: $letter-spacing10;
                    color: $skyblue-2;
                    text-transform: $text-uppercase;
                }
                .feature-card-subtitle{
                    font-size: $font-size-md;
                    font-weight: $font-700;
                    text-transform: $text-uppercase;
                }
                .feature-white-box{
                    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                    background-color: $white;
                    border:1px solid $skyblue-5;
                    border-radius: $radius-lg;
                    padding: 15px 15px 40px 15px;
                    position: relative;
                    &.without-btn{
                        padding: 15px;
                    }
                    .box-title{
                        font-size: $font-size-md;
                        font-weight: $font-800;
                        text-transform: $text-uppercase;
                        &.red-title{
                            color: $red-2
                        }
                    }
                    .box-labels{
                        color: $dark-2;
                        font-size: $font-size-13;
                        &.red-labels{
                            color: $red-2
                        }
                    }
                    .btn{
                        &.btn-bottom{
                            position: absolute;
                            right: 0;
                            bottom: -20px;
                        }
                    }
                }
                &::before{
                    content: "";
                    background: url("../../../images/backgrounds/Flat-ipad-2.png");
                    width: 180px;
                    height: 130px;
                    position: absolute;
                    background-size: cover;
                    background-repeat: no-repeat;
                    top: -55px;
                    right: 0;
                }
            }
            .ote-card{
                box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                border-radius: $radius-lg;
                background-color: $white;
                position: relative;
                cursor: pointer;    
                border: 1px solid $skyblue-5;
                &.active{
                    border: 1px solid $skyblue-2;
                    background-color: $skyblue-6;
                }
                &::before{
                    content: "";
                    background: url("../../../images/backgrounds/Flat-ipad-2.png");
                    width: 115px;
                    height: 90px;
                    position: absolute;
                    background-size: cover;
                    background-repeat: no-repeat;
                    top: -55px;
                    right: 0;
                }
                &.subscription-card{
                    z-index: 1;
                    &.small-img-top{
                        &::before{
                            content: "";
                            background: url("../../../images/backgrounds/Flat-ipad-2.png");
                            width: 85px;
                            height: 60px;
                            position: absolute;
                            background-size: cover;
                            background-repeat: no-repeat;
                            top: -30px;
                            right: 0;
                        }    
                    }
                    &.img-top-none{
                        &::before{
                            width: 0;
                            height: 0;
                            background: none;
                        }
                    }
                    &.disable{
                        background-color: $grey-16;
                        pointer-events: none;
                    }
                    .subscription-title{
                        font-size: $font-size-16;
                        font-weight: $font-800;
                        letter-spacing: $letter-spacing10;
                        color: $dark-blue;
                    }
                    img{
                        &.top-tag{
                            top: -15px;
                            left: 55px;
                            position: absolute;
                        }
                    }
                }
                &.basic-card{
                    position: relative;
                    .subtitle{
                        font-size: $font-size-lg;
                        font-weight: $font-700;
                    }
                    .desc-title{
                        font-size: $font-size-16;
                        font-weight: $font-700;    
                    }
                    .desc{
                        font-size: $font-size-md;
                    }
                    &::before{
                        content: "";
                        background: url("../../../images/backgrounds/Flat-ipad-2.png");
                        width: 115px;
                        height: 90px;
                        position: absolute;
                        background-size: cover;
                        background-repeat: no-repeat;
                        top: -55px;
                        left: 0;
                    }    
                    .tag-top{
                        top: -15px;
                        right: 0;
                        position: absolute;
                    }
                }
                .border-bottom-skyblue{
                    border-bottom: 1px solid $skyblue-2;
                }
                .ote-title{
                    font-size: $font-size-22;
                    font-weight: $font-800;
                    letter-spacing: $letter-spacing10;
                    color: $skyblue-2;
                    text-transform: $text-uppercase;
                }
                .red-subtitle{
                    font-size: $font-size-md;
                    font-weight: $font-800;
                    text-transform: $text-uppercase;   
                    color: $red-2;
                    .line-through{
                        text-decoration: line-through;
                    }
                }
                .green-subtitle{
                    font-size: $font-size-24;
                    font-weight: $font-900;
                    text-transform: $text-uppercase;   
                    color: $green-2;
                }
                .black-subtitle{
                    font-size: $font-size-md;
                    font-weight: $font-700;
                }
                .box-labels{
                    font-size: $font-size-13;
                    text-transform: lowercase;
                }
            }
            .addon-card{
                box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                border-radius: $radius-lg;
                background-color: $white;
                position: relative;
                cursor: pointer;    
                border: 1px solid $skyblue-5;  
                padding: 20px 10px;
                height: 355px;
                &.active{
                    border: 1px solid $skyblue-2;
                    background-color: $skyblue-6;
                }  
                .addon-title{
                    font-size: $font-size-22;
                    font-weight: $font-800;
                    letter-spacing: $letter-spacing10;
                    color: $skyblue-2;
                    text-transform: $text-uppercase;
                    &.black-title{
                        color: $black;
                    }
                }
                .addon-paragraph{
                    font-size: $font-size-md;
                    line-height: $line-height-26;
                }
            }
            .subscription-content{
                .blue-strip{
                    background-color: $skyblue-2;
                    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
                    border: 1px solid $skyblue-5;
                    border-radius: $radius-lg;
                    padding: 5px;
                    width: 100%;
                    color: $white-2;
                    font-size: $font-size-22;
                    font-weight: $font-800;
                    letter-spacing: $letter-spacing10;
                    text-align: center;
                    position: relative;
                }
                .plan-part{
                    .description-row{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        height: 40%;
                        width: 3px;
                        background: $skyblue-2;
                        top: 44%;
                        z-index: 0;
                        right: 91%;
                        z-index: 0;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        height: 40%;
                        width: 3px;
                        background: $skyblue-2;
                        top: 44%;
                        z-index: 0;
                        right: 75%;
                        z-index: 0;
                    }
                    .vertical-lines{
                        &::after{
                            content: "";
                            position: absolute;
                            height: 40%;
                            width: 2px;
                            background: $skyblue-2;
                            top: 44%;
                            z-index: 0;
                            right: 45%;
                            z-index: 0;
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            height: 40%;
                            width: 3px;
                            background: $skyblue-2;
                            top: 44%;
                            z-index: 0;
                            right: 60%;
                            z-index: 0;
                        }
                    }
                }
            }
            // .progressbar{
            //     display: flex;
            //     margin: 40px 0;
            //     user-select: none;
            //     .step{
            //         text-align: center;
            //         width: 20%;
            //         position: relative;
            //         p{
            //             font-weight: $font-900;
            //             font-size: $font-size-16;
            //             line-height: $line-height-36;
            //             letter-spacing: $letter-spacing10;
            //             margin-bottom: 8px;
            //             text-transform: $text-uppercase;
            //         }
            //         .bullet{
            //             height: 40px;
            //             width: 40px;
            //             display: inline-block;
            //             border-radius: 50%;
            //             position: relative;
            //             transition: 0.2s;
            //             font-weight: $font-900;
            //             font-size: $font-size-22;
            //             line-height: $line-height-36;
            //             background-color: $grey-10;
            //             color: $grey-11;
            //             span{
            //                 position: absolute;
            //                 left: 50%;
            //                 transform: translateX(-50%);
            //             }
            //         }
            //         &:last-child{
            //             &::before{
            //                 width: 0;
            //             }
            //         }
            //         &.active{
            //             .bullet{
            //                 color: $white;
            //                 background: $green-2;
            //             }
            //             &:before{
            //                 background: $green-2;
            //                 transform: scaleX(0);
            //                 transform-origin: left;
            //                 animation: animate 0.3s linear forwards;
            //             }
            //         }
            //         &::before{
            //             background: $grey-12 ;
            //             content: "";
            //             height: 2px;
            //             left: 50%;
            //             position: absolute;
            //             top: 22%;
            //             width: 100%;
            //             z-index: -1;
            //         }
            //     }
            // }
            // .plan-content{
            //     width: 100%;
            //     overflow: hidden;
            //     .inner-plan-content{
            //         display: flex;
            //         width: 500%;
            //         .page{
            //             width: 25%;
            //             transition: margin-left 0.3s ease-in-out;
            //             .field {
            //                 .btn{
            //                     &.btn-dark{
            //                         transition: 0.5s ease;
            //                     }
            //                 }
            //             }
            //             &.feature-section{
            //                 .review-plan-card{
            //                     background-color: $skyblue-2;
            //                     border-radius: $radius-15;
            //                     .card-title{
            //                         font-size: $font-size-20;
            //                         font-weight: $font-900;
            //                         letter-spacing: $letter-spacing10;
            //                         line-height: $line-height-28;
            //                         color: $white;
            //                         text-transform: $text-uppercase;
            //                         padding: 20px;
            //                         text-align: center;
            //                         border-bottom: 2px dashed $white;
            //                         position: relative;
            //                         &::after{
            //                             content: "";
            //                             width: 22px;
            //                             height: 22px;
            //                             background-color: $white;
            //                             border-radius: 50%;
            //                             position: absolute;
            //                             bottom: -10px;
            //                             left: -10px;
            //                         }
            //                         &::before{
            //                             content: "";
            //                             width: 22px;
            //                             height: 22px;
            //                             background-color: $white;
            //                             border-radius: 50%;
            //                             position: absolute;
            //                             bottom: -10px;
            //                             right: -10px;
            //                         }
            //                     }
            //                     .ongoing-payment-part{
            //                         background-color: $white-rgba1;
            //                         padding: 15px;
            //                         .ongoing-payment-title{
            //                             font-size: $font-size-md;
            //                             font-weight: $font-900;
            //                             line-height: $line-height-24;
            //                             letter-spacing: $letter-spacing10;
            //                             text-transform: $text-uppercase;
            //                             color: $white;
            //                         }
            //                         .ongoing-payment-sub-title{
            //                             font-size: $font-size-11;
            //                             line-height: $line-height-24;
            //                             text-transform: $text-uppercase;
            //                             color: $white;
            //                         }
            //                     }
            //                     .total-part{
            //                         padding: 20px 15px;
            //                         &.border-bottom-white{
            //                             border-bottom: 2px dashed $white;
            //                             position: relative;
            //                             &::after{
            //                                 content: "";
            //                                 width: 22px;
            //                                 height: 22px;
            //                                 background-color: $white;
            //                                 border-radius: 50%;
            //                                 position: absolute;
            //                                 bottom: -10px;
            //                                 left: -10px;
            //                             }
            //                             &::before{
            //                                 content: "";
            //                                 width: 22px;
            //                                 height: 22px;
            //                                 background-color: $white;
            //                                 border-radius: 50%;
            //                                 position: absolute;
            //                                 bottom: -10px;
            //                                 right: -10px;
            //                             }
            //                         }
            //                         .month{
            //                             font-size: $font-size-13;
            //                             font-weight: $font-700;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                             text-transform: $text-uppercase;
            //                         }
            //                         .total{
            //                             font-size: $font-size-md;
            //                             font-weight: $font-700;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                         }
            //                         .scanning{
            //                             font-size: $font-size-13;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                             text-transform: $text-uppercase;
            //                         }
            //                         .free{
            //                             font-size: $font-size-md;
            //                             font-weight: $font-700;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                         }
            //                         .month-total{
            //                             font-size: $font-size-16;
            //                             font-weight: $font-800;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                         }
            //                         .charge{
            //                             font-size: $font-size-md;
            //                             font-weight: $font-800;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                         }
            //                         .border-bottom-grey{
            //                             border-bottom: 1px solid $grey13-rgba1;
            //                         }
            //                     }
            //                     .total-due{
            //                         padding: 40px 15px;
            //                         position: relative;
            //                         .total{
            //                             font-size: $font-size-16;
            //                             font-weight: $font-800;
            //                             line-height: $line-height-26;
            //                             color: $white;
            //                             text-transform: $text-uppercase;
            //                         }
            //                         .pay-total{
            //                             font-size: $font-size-20;
            //                             font-weight: $font-800;
            //                             color: $white;
            //                         }
            //                         .pay-text{
            //                             font-size: $font-size-13;
            //                             color: $white;
            //                             text-transform: $text-uppercase;
            //                         }
            //                     }
            //                     .btn{
            //                         &.btn-bottom{
            //                             position: absolute;
            //                             bottom: 2%;
            //                             right: 13%;
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
          @keyframes animate {
            100%{
              transform: scaleX(1);
            }
          }
        }
        &.whyisr-section{
            padding: 50px;
            height: 100%;
            background-color: rgba(51, 132, 216, 0.05);
            background-image: url("../../../images/backgrounds/price-shape.png");
            background-repeat: no-repeat;
            background-position: center;
            @include media-breakpoint-down(md){
               padding: 30px 45px;
            }
            .get-start{
                font-size: $font-size-lg;
                line-height: $line-height-36;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-16;
                }
                @include media-breakpoint-down(md){
                    margin-top: 20px;
                    font-size: $font-size-md;
                }
            }
            .whyisr-title{
                font-size: $font-size-30;
                font-weight: $font-900;
                line-height: $line-height-36;
                letter-spacing: $letter-spacing10;
                text-transform: $text-uppercase;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-26;
                }
                @include media-breakpoint-down(sm){
                    font-size: $font-size-24;
                }
                &.text-green{
                    color: $green-2;
                    @include media-breakpoint-down(md){
                        margin-bottom: 20px;
                    }
                }
            }
            .description{
                font-size: $font-size-lg;
                font-weight: $font-600;
                line-height: $line-height-36;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-16;
                }
                @include media-breakpoint-down(sm){
                    font-size: $font-size-md;
                }
            }
        }
        &.shop-section{
            padding: 50px;
            height: 100%;
            .left-part{
                font-size: $font-size-lg;
                line-height: $line-height-36;
                @include media-breakpoint-down(lg){
                    font-size: $font-size-16;
                    margin-bottom: 25px;
                }
                @include media-breakpoint-down(md){
                    font-size: $font-size-md;
                }
                @include media-breakpoint-down(xl){
                    margin-bottom: 25px;
                }
            }
            .bundle{
                @include media-breakpoint-down(md){
                    height: 150px;
                    width: 150px;
                }
            }
            .description{
                .desc-title{
                    font-size: $font-size-22;
                    font-weight: $font-900;
                    line-height: $line-height-36;
                    letter-spacing: $letter-spacing10;
                    text-transform: $text-uppercase;
                    @include media-breakpoint-down(md){
                        font-size: $font-size-20;
                    }
                }
                .desc-p{
                    font-size: $font-size-16;
                    line-height: $line-height-30;
                    @include media-breakpoint-down(lg){
                        font-size: $font-size-md;
                    }
                }
                .count{
                    font-size: $font-size-32;
                    line-height: $line-height-36;
                    font-weight: $font-900;
                    letter-spacing: $letter-spacing10;
                    color: $green-2;
                    @include media-breakpoint-down(lg){
                        font-size: $font-size-30;
                    }
                }
            }
        }
        .footer{
            &.main-footer{
                background-image: url("../../../images/backgrounds/gradient-bg.png");
                padding: 50px;
                @include media-breakpoint-down(lg){
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .lg-flex-column{
                    @include media-breakpoint-down(lg){
                        flex-direction: column;
                    }    
                }
                .left-part{
                    .copyright-link{
                        color: $white;
                        text-transform: uppercase;
                        font-size: $font-size-lg;
                        font-weight: $font-800;
                        letter-spacing: 3px;
                        text-decoration: none;
                        &:hover{
                            color: $secondary;
                        }
                        @include media-breakpoint-down(lg){
                            margin-bottom: 10px;
                        } 
                        @include media-breakpoint-down(sm){
                            font-size: $font-size-16;
                        } 
                    }
                    img{
                        &.logo{
                            @include media-breakpoint-down(lg){
                                height: 50px;
                                width: 190px;
                                margin-bottom: 10px;
                            } 
                        }    
                    }
                }
                .right-part{
                    .contact-title{
                        font-size: $font-size-22;
                        font-weight: $font-800;
                        color: $white;
                        letter-spacing: 3px;
                        @include media-breakpoint-down(sm){
                            font-size: $font-size-20;
                        } 
                    }
                    .address, .number{
                        font-size: $font-size-16;
                        color: $white;
                        line-height: $line-height-26;
                        text-decoration: none;
                    }
                }
                .social-icons{
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    &:hover{
                        svg{
                            g{
                                opacity: 1;
                            }
                            path{
                                fill: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn{
    border-radius: $radius-xxl;
    padding: 11px 25px;
    border: 0;
    &.btn-transparent{
        background-color: $white-rgba1;
        color:$white;
        font-size: $font-size-lg;
        font-weight: $font-800;
        letter-spacing: $letter-spacing10;
        &:hover{
            background-color: $green-2;
            border: 0;
        }
        @include media-breakpoint-down(lg){
            font-size: $font-size-16;
        }
        &.font-green{
            color: $green-2;
            &:hover{
                background-color: $green-2;
                color: $white;
                border: 0;
            }
        }
    }
    &.btn-dark{
        background-color: $black;
        color:$white;
        font-size: $font-size-lg;
        font-weight: $font-800;
        letter-spacing: $letter-spacing10;
        &:hover{
            background-color: $green-2;
            border: 0;
        }
        @include media-breakpoint-down(lg){
            font-size: $font-size-16;
        }
    }
    &.btn-green2{
        background-color: $green-2;
        color:$white;
        font-size: $font-size-lg;
        font-weight: $font-800;
        letter-spacing: $letter-spacing10;
        &:hover{
            background-color: $black;
            border: 0;
        }
    }
    &.btn-green-border{
        background-color: $green-3;
        border: 1px solid $green-2;
        color:$green-2;
        font-size: $font-size-md;
        font-weight: $font-700;
        text-transform: $text-uppercase;
        padding: 9px 20px;
        &:hover{
            background-color: $green-2;
            color: $white;
            svg{
                path{
                    stroke: $white;
                }
            }
        }
    }
    &.btn-radius0{
        border-radius: 0;
    }
}


//   .stepper {
//       display: flex;
//       justify-content: space-between;
//       margin-bottom: 20px;
//       position: relative;
//     }
//     .step{
//         width: 33.33%;
//     }
//     .step::before{
//         background: grey ;
//         content: "";
//         height: 2px;
//         position: absolute;
//         top: 22%;
//         width: 100%;
//         z-index: -1;
//     }
//     .step:last-child{width: 0;}
//     .step .bullet {
//       width: 30px;
//       height: 30px;
//       line-height: 30px;
//       background: #ccc;
//       color: #fff;
//       text-align: center;
//       border-radius: 50%;
//       position: relative;
//       z-index: 1;
//     }
//     .step.active .bullet {
//       background: #007bff;
//     }
//     .step.active:before{
//         background: green;
//     }
//     .step::after .bullet {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 100%;
//       width: calc(100% - 30px);
//       height: 4px;
//       background: #ccc;
//       transform: translateY(-50%);
//       z-index: 0;
//     }
//     .step:last-child::after .bullet {
//       display: none;
//     }
//     .step.active::after .bullet {
//       background: #007bff;
//     }
    

//     .content {
//       display: none;
//     }
//     .content.active {
//       display: block;
//       padding: 15px;
//       border: 1px solid #ccc;
//       border-radius: 8px;
//     }

//     .buttons {
//       margin-top: 20px;
//     }
//     button {
//       padding: 10px 15px;
//       margin: 0 5px;
//     }






    


    



