
nav{
    &.navbar{
        &.inner-navbar{
            padding: 0;
            background-image: url("../../../images/backgrounds/bg-nav.png");
            height: 90px;
            position: fixed;
            width: 100%;
            z-index: 1;
            .link-part{
                .bottom-links{
                    list-style-type: none;
                    .nav-link{
                        font-size: $font-size-16;
                        font-weight: $font-900;
                        color: $white-rgba3;
                        padding: 10px;
                        transition: all ease-out 250ms;
                        &:hover{
                            color: $white;
                        }
                        &.active{
                            color: $white;
                        }
                    }
                }
                .contact-link{
                    background-color: $white-rgba1;
                    padding: 0 20px;
                    border-radius: 0 0 5px 5px;
                    .nav-link{
                        font-size: $font-size-md;
                        font-weight: $font-700;
                        color: $white-rgba3;
                        padding: 10px 15px;
                        &:hover,&:active{
                            color: $green-2;
                            svg{
                                path{
                                    stroke: $green;
                                }
                            }
                        }
                    }
                    .dropdown{
                        &.nav-dropdown{
                            padding: 8px 15px;
                            .dropdown-toggle{
                                font-size: $font-size-md;
                                font-weight: $font-700;
                                color: $white;
                                background-color: transparent;
                                border: 0  ;
                                &::after{
                                    border-top: 0;
                                    border-left: 0;
                                    border-right: 0;
                                    height: 20px;
                                    width: 20px;
                                    position: absolute;
                                    top: 10px;
                                    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 9.1665L10 11.6665L7.5 9.1665" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                                }
                                &.show{
                                    &::after{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                            .dropdown-menu{
                                &[data-bs-popper]{
                                    left: -55px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-content {
    width: 100%;
    .title{
        font-size: $font-size-34;
        font-weight: $font-900;
        letter-spacing: $letter-spacing10;
        position: relative;
        text-transform: $text-uppercase;
        &::after{
            content: "";
            background-image: url("../../../images/icons/green-line.png");
            height: 6px;
            width: 150px;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }
    section {
        margin:0;
        h1 {
            color: #444;
            font-weight: 600;
        }
        &.home-section{
            padding: 150px 50px 50px;
            background-image: url(../../../images/backgrounds/price-shape.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
        }
        &.features-section{
            padding: 50px;
            height: 100%;
            .feature-paragraph{
                font-size: $font-size-lg;
                line-height: $line-height-36;
                span{
                    color: $green-2;
                    font-weight: $font-700;
                }
            }
            .feature-title{
                font-size: $font-size-22;
                font-weight: $font-900;
                line-height: $line-height-36;
                letter-spacing: $letter-spacing10;
            }
            .feature-description{
                font-size: $font-size-16;
                line-height: $line-height-36;
            }
        }
        &.pricing{
            #plan-content {
                width: 100%;
                text-align: center;
                position: relative;
                .fieldset-container{
                    position: relative;
                    padding: 50px;
                    fieldset {
                        background: white;
                        border: 0 none;
                        box-sizing: border-box;
                        width: 100%;
                        /*stacking fieldsets above each other*/
                        position: relative;
                        &:not(:first-of-type) {
                            display: none;
                        }
                    }
                }
                .progressbar {
                    margin-bottom: 30px;
                    width: 90%;
                    overflow: hidden;
                    /*CSS counters to number the steps*/
                    counter-reset: step;
                    li {
                        list-style-type: none;
                        color: $black;
                        text-transform: $text-uppercase;
                        font-size: $font-size-16;
                        font-weight: $font-900;
                        line-height: $line-height-36;
                        letter-spacing: $letter-spacing10;
                        width: 20%;
                        float: left;
                        position: relative;
                        &:before {
                            content: counter(step);
                            counter-increment: step;
                            width: 40px;
                            height: 40px;
                            line-height: $line-height-36;
                            display: block;
                            font-size: $font-size-22;
                            font-weight: $font-900;
                            background: $grey-10;
                            color: $grey-11;
                            border-radius: 50%;
                            margin: 0 auto 5px auto;
                        }
                        &:after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background: $grey-12;
                            position: absolute;
                            left: -50%;
                            top: 25%;
                            z-index: -1; /*put it behind the numbers*/
                        }
                        &:first-child{
                            &:after {
                                /*connector not needed before the first step*/
                                content: none; 
                            }
                        }
                        &.active{
                            &::after, &::before{
                                background: #4EB855;
	                            color: white;
                            }
                        }
                    }
                }
            }
        }
        &.whyisr-section{
            padding: 50px;
            height: 100%;
            background-color: rgba(51, 132, 216, 0.05);
            background-image: url("../../../images/backgrounds/price-shape.png");
            background-repeat: no-repeat;
            background-position: center;
            .get-start{
                font-size: $font-size-lg;
                line-height: $line-height-36;
            }
            .whyisr-title{
                font-size: $font-size-30;
                font-weight: $font-900;
                line-height: $line-height-36;
                letter-spacing: $letter-spacing10;
                text-transform: $text-uppercase;
                &.text-green{
                    color: $green-2;
                }
            }
            .description{
                font-size: $font-size-lg;
                font-weight: $font-600;
                line-height: $line-height-36;
            }
        }
        &.shop-section{
            padding: 50px;
            height: 100%;
            .left-part{
                font-size: $font-size-lg;
                line-height: $line-height-36;
            }
            .description{
                .desc-title{
                    font-size: $font-size-22;
                    font-weight: $font-900;
                    line-height: $line-height-36;
                    letter-spacing: $letter-spacing10;
                    text-transform: $text-uppercase;
                }
                .desc-p{
                    font-size: $font-size-16;
                    line-height: $line-height-30;
                }
                .count{
                    font-size: $font-size-32;
                    line-height: $line-height-36;
                    font-weight: $font-900;
                    letter-spacing: $letter-spacing10;
                    color: $green-2;
                }
            }
        }
        .footer{
            &.main-footer{
                background-image: url("../../../images/backgrounds/gradient-bg.png");
                padding: 50px;
                .left-part{
                    .copyright-link{
                        color: $white;
                        text-transform: uppercase;
                        font-size: $font-size-lg;
                        font-weight: $font-800;
                        letter-spacing: 3px;
                        text-decoration: none;
                        &:hover{
                            color: $secondary;
                        }
                    }
                }
                .right-part{
                    .contact-title{
                        font-size: $font-size-22;
                        font-weight: $font-800;
                        color: $white;
                        letter-spacing: 3px;
                    }
                    .address, .number{
                        font-size: $font-size-16;
                        color: $white;
                        line-height: $line-height-26;
                        text-decoration: none;
                    }
                }
                .social-icons{
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    &:hover{
                        svg{
                            g{
                                opacity: 1;
                            }
                            path{
                                fill: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn{
    border-radius: $radius-xxl;
    padding: 11px 25px;
    border: 0;
    &.btn-dark{
        background-color: $black;
        color:$white;
        font-size: $font-size-lg;
        font-weight: $font-800;
        letter-spacing: $letter-spacing10;
        &:hover{
            background-color: $green-2;
            border: 0;
        }
    }
    &.btn-green2{
        background-color: $green-2;
        color:$white;
        font-size: $font-size-lg;
        font-weight: $font-800;
        letter-spacing: $letter-spacing10;
        &:hover{
            background-color: $black;
            border: 0;
        }
    }
}